/* SECTION 5 */
.section_container {
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  position: relative;
}
.review_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 40px;
  align-items: center;
}
.review_container h1 {
  color: #153a35;
  font-size: 44px;
}
.person_container {
  display: flex;
  gap: 32px;
}
.person_container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
.name_container h5 {
  font-size: 18px;
  color: #153a35;
  font-weight: 500;
}
.name_container h6 {
  font-size: 12px;
  color: gray;
  font-weight: 500;
}
.review_text_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.review_text_container p {
  color: #153a35;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.button_container {
  display: flex;
  gap: 20px;
}
.button_container button {
  border-radius: 50%;
  border: 1px solid #153a35;
  padding: 8px;
  color: #153a35;
  background-color: #dacfc0;
}
.button_container button:hover {
  background-color: #153a35;
  color: #dacfc0;
}
.quote_left {
  position: absolute;
  color: rgba(232, 82, 42, 0.4);
  left: 14vw;
  top: 0;
}
.quote_right {
  position: absolute;
  color: rgba(232, 82, 42, 0.4);
  right: 14vw;
  bottom: 3vw;
}
