.login_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: #296159;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  height: 450px;
  color: white;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 20px;
}
.top_section {
  display: flex;
  justify-content: space-between;
}
.login_heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login_heading h4 {
  font-size: 20px;
  font-weight: 500;
}
.link a {
  text-decoration: underline;
  color: white;
}
.close_button {
  cursor: pointer;
}
.break_line {
  width: 20%;
  color: white;
  border: 0.5px solid;
}
.second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
}
.input_box {
  border-radius: 20px;
  padding: 14px;
  color: #153a35;
  width: 100%;
  border: none;
}
.second_section p {
  font-size: 14px;
  font-weight: 500;
}
.second_section button {
  border-radius: 2rem;
  border: 1px solid #e8522a;
  color: white;
  background-color: #e8522a;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}
