.container {
  margin: 40px;
}
.menu_categories {
  background-color: #296159;
  color: white;
  width: 240px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 8px;
  margin-bottom: 20px;
}
.menu_container {
  margin-bottom: 20px;
}
