.cart_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
}
.cart_content {
  width: 40%;
  background-color: #296159;
  padding: 20px;
}
.top_section {
  display: flex;
  justify-content: space-between;
}
.top_section_left {
  display: flex;
  flex-direction: column;
}
.top_section_left h1 {
  font-size: 24px;
}
