.cart_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
}
.cart_content {
  width: 40%;
  background-color: #296159;
  padding: 20px;
}
.top_section {
  display: flex;
  justify-content: space-between;
}
.top_section_left {
  display: flex;
  flex-direction: column;
}
.top_section_left h1 {
  font-size: 24px;
}
.middle_section {
  margin: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item_container {
  display: flex;
  justify-content: space-between;
}
.item_middle {
  display: flex;
}
.checkout_btn {
  display: flex;
  margin-top: 20px;
  border-radius: 2rem;
  background-color: #e8522a;
  color: white;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}
