.section_container {
  margin: 0 40px;
}
.heading {
  font-size: 32px;
  color: #153a35;
  font-weight: 600;
}
.items_grid {
  margin: 16px 20px;
  display: flex;
  justify-content: space-between;
}
.item_container {
  background-color: #dacfc0;
  color: #153a35;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.item_image {
  width: 172px;
  height: 172px;
}
.item_content {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item_sub_container {
  display: flex;
  justify-content: space-between;
}
.add_button {
  border: none;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #296159;
}
.add_button:hover {
  background-color: #e8522a;
}
